
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489131432239'); /* IE9*/
  src: url('iconfont.eot?t=1489131432239#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.ttf?t=1489131432239') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489131432239#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:48px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#aaaaaa;
}

.icon-ypdaz:before { content: "\e63a"; }

.icon-ios:before { content: "\e614"; }

.icon-windowspc:before { content: "\e64b"; }

