/*=========================================================
mg-header start==============================================*/
header{
    height: 160px;
    background: #000;
    line-height: 160px;
}


#mg-header{
    background: #000;
}
#mg-header .head-logo img{

    width: 350px;
}

#mg-header .head-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#mg-header .head-menu ul{
    display: flex;

}
#mg-header .head-menu li{
    margin-right: 10px;

}
#mg-header .head-menu a{
        color: #91bd2c;
        font-size: 16px;
    }

#mg-header .head-menu .zixun{
    width: 78px;
    height: 28px;
    line-height: 28px;
    background: #91bd2c;
    text-align: center;
}

#mg-header .head-menu .zixun a{
        color: #fff;
        font-weight: bold;
        font-size: 16px;

}

#mg-header .header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*=========================================================
mg-header end==============================================*/



/*=========================================================
mg-banner start==============================================*/
#mg-banner{
    background: #151515;
    
    position: relative;
}
#mg-banner  .banner-container{
    position: relative;
    background: #151515;
    height: 625px;
    padding-top: 100px;
    box-sizing: border-box;
}
#mg-banner .content-wrapper{
    margin-left: 130px;
}

#mg-banner .tline {
    display: block;
    background: #7bbe00;
    width: 41px;
    height: 2px;
}

#mg-banner .tfu p{
    color: #7bbe00;
    font-size: 24px;

}

#mg-banner .tmain p{
    color: #fbfbfb;
    font-size: 40px;
    margin-top: 5px;
    letter-spacing:3px;
    font-weight: bold;

    background-image: -webkit-gradient(linear, left 0, right 0, from(rgba(160, 160, 160, 255)), to(rgba(255, 255, 255, 255)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 12px;
    margin-top: 4px;

}
#mg-banner .tdetail{
    margin-top: 50px;
}

#mg-banner .tdetail p{
    color: #afafaf;
    font-size: 24px;


}
#mg-banner .tdetail img{
    width: 120px;
    margin-top: 12px;
}

#mg-banner .banner-bt{
    width: 160px;
    height: 40px;
    background: #7bbe00;
    border-radius: 1px;
    line-height: 40px;
    text-align: center;
    margin-top: 60px;

}
#mg-banner .banner-bt a{
    color: #fff;
    font-size: 18px;
    margin-left: 0px;
}

#mg-banner .btn{
    z-index: 2;
    margin-top: 60px;
    margin: 0;
    margin-top: 60px;
}

#mg-banner .banner-chaoren{
    position: absolute;
    right: -230px;
    bottom:0;
    
}
#mg-banner .banner-chaoren img{
    width: 620px;
}

#mg-banner .banner-linebg{
    position: absolute;
    left: 276;
    top:-17px;
}

#mg-banner .banner-linebg img{
    width: 1000px;
}


/*=========================================================
mg-banner end==============================================*/


/*=========================================================
mg-button start==============================================*/
#mg-button{
    background: #1a1a1a;
}
#mg-button .button-container{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1a;
}
#mg-button .bdiv{
    width: 100px;
    height: 100px;
    background: #7bbf01;
    border-radius: 50%;
    margin-right: 35px;
    line-height: 100px;
    text-align: center;
}
#mg-button .bdiv img{
    width: 95%;
}


#mg-button .bh5{
    background: #7bbf01;
    
}

/*  变色效果
#mg-button .bdiv:hover{
    background: #afafaf;
}
 */
#mg-button .bcss{
    background: #416ab6;
}
#mg-button .bjs{
    background: #c30119;
}
/*=========================================================
mg-button end==============================================*/

/*mg-compare start*/
 #mg-compare .font-c{
        color: #fff;
    }
    #mg-compare{
        background-image: url(../images/compare/bg.jpg);
    }
    #mg-compare .content-wrap {
    display: flex;
    justify-content: space-around;
    }
    #mg-compare .nav{
        display: flex;
      flex-direction: column;
      margin-bottom: 5px;
      margin-top: 50px;
    }
    #mg-compare .nav img{
            width: 95%;
    }
    #mg-compare .nav-top{
        margin-top:10%;
      margin-bottom: 30px;
        display:flex;
        flex-direction: column;
    }
    #mg-compare .nav-top .myp1{
      margin-left: 44px;
      line-height: 3;
      font-size:18px;
      color: #fff
    }
    #mg-compare .nav-bottom .myp2{
      margin-bottom: 40px;
      line-height:3;
      text-align: center;
      font-size:18px;
      color:#fff;
    }
    #mg-compare .aside{
      margin-top:42px;
    }
       
    #mg-compare .aside-top{
        font-size:16px;
        margin-top:5%;
        display: flex;
        flex-direction: column;
    }
    #mg-compare .aside-top img{
        width: 66px;
        height: 2px;
        margin-top: 22px;
    }
    #mg-compare .aside-top img:hover{
        transform: scaleX(0.5) ;
     }
    #mg-compare .aside-top .myspan1{
        color: #7DBE00;
        font-size:24px;
    }
    #mg-compare .aside-top .myspan2{
        font-size: 44px;
        font-weight: bolder;
        color:#fff;
        display: inline-block;
        background-image: -webkit-gradient(linear, left 0, right 0, from(rgba(160, 160, 160, 255)), to(rgba(255, 255, 255, 255)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
    
    #mg-compare .aside-main{
       color:#fff;
        margin-top:56%;
        display:flex;
        flex-direction: column;
    }
     #mg-compare .aside-main:hover{
      transform: scale(1.1);
     }
    #mg-compare .aside-main img{
      width: 100px;
      height: 20px;
      margin-top:30px;
    }
     
    #mg-compare .content-wrap .my_img{
        width: 23px;
        margin-top: 145px;
    }
    #mg-compare .button{
          width: 150px;
            height: 40px;
            background: #7CBF02;
            color: #fff;
            text-align: center;
            margin-top: 15px;
            padding-top: 8px;
        position: absolute;
    }
    #mg-compare .mybtn{
       margin:0;
       font-size: 20px;
    }

    /*旋转 */
    #mg-compare .img{
      -webkit-transition: -webkit-transform 2s ease-out;
    -moz-transition: -moz-transform 2s ease-out;
    -o-transition: -o-transform 2s ease-out;
    -ms-transition: -ms-transform 2s ease-out;
    }
    #mg-compare .img:hover{
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    }



    /*抖动效果*/
@-webkit-keyframes shake-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0deg);
    }
}
#mg-compare .aside-top .myspan2:hover  {
    -webkit-animation-name: shake-out;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
}
/*mg-compare end*/
/*=========================================================
mg-salary start==============================================*/
#mg-salary{
    background: #000000;
}
#mg-salary>div{
    display: flex;
}
#mg-salary>.w-1000{
    padding: 40px 0 50px 0;
}
#mg-salary .mg-salary-left{
    width: 100px;
    order: -1;
}
#mg-salary .mg-salary-right{
    width: 100px;
}
#mg-salary .mg-salary-content{
    flex-grow: 1;
}
#mg-salary .mg-salary-dottedline>img{
    width: 100%;
}
#mg-salary .mg-salary-table-div{
    color: #B9B9B9;
}
#mg-salary .mg-salary-desc{
    color:#9D9D9D;
    font-size: 14px;
    margin-left: 6px;
    padding-top:3px;
}
#mg-salary .mg-salary-title {
    color:#F6F6F6;
    margin-left: 6px;
    font-size: 40px;
    display: inline-block;
    font-weight: bold;
    background-image: -webkit-gradient(linear, left 0, right 0, from(rgba(160, 160, 160, 255)), to(rgba(255, 255, 255, 255)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#mg-salary .mg-salary-left>img{
    width: 15px;
    margin-left: 10px;
    margin-top:30px;
}
#mg-salary .mg-salary-type{
    position:relative;
}
#mg-salary .mg-salary-type>img{
    width: 24px;
    position: absolute;
    top:0;
    left: 8px;
}
#mg-salary .mg-salary-type>div{
    color: #5F9200;
    font-size: 24px;
    padding: 3px 0 0 7px;
}
#mg-salary .mg-salary-dot{
    height: 12px;
}
#mg-salary .mg-salary-dot>img{
    height: 11px;
    margin-left: 6px;
    margin-top: -5px;
}
#mg-salary .mg-salary-table-div{
    background: #101010;
    position: relative;
}
#mg-salary #mg-salary-table{
    background: #101010;
    margin-bottom: 40px;
    height: 200px;
    position: relative;
    top:23px;
    overflow: hidden;
}
#mg-salary .mg-salary-table-div .mg-salary-table{
    position: absolute;
}
#mg-salary .mg-salary-table>li>ul>li{
    float: left;
}
#mg-salary .mg-salary-table>li{
    clear: both;
}
#mg-salary .mg-salary-table-div>.mg-salary-table{
    width: 100%;
    text-align: center;
    font-size: 12px;
}
#mg-salary .mg-salary-table-div .mg-salary-table>li{
    height:20px;
    line-height: 20px;
}
#mg-salary .mg-salary-table-dark>ul,
#mg-salary .mg-salary-table-dark li{
    border: 1px solid #000000;
}

#mg-salary .mg-salary-table-green li{
    border: 1px solid #5D9C00
}
#mg-salary .mg-salary-table-green li:nth-child(odd){
    background: #005300;
}
#mg-salary .mg-salary-table-green li:nth-child(even){
    background: #002800;
}
#mg-salary table .mg-salary-table-dark li:nth-child(6){
    background: #1E1E1E;
}
#mg-salary .mg-salary-table>li>ul li:nth-child(1),
#mg-salary .mg-salary-table>li>ul li:nth-child(2),
#mg-salary .mg-salary-table>li>ul li:nth-child(3),
#mg-salary .mg-salary-table>li>ul li:nth-child(6),
#mg-salary .mg-salary-table>li>ul li:nth-child(7){
    width: 10%;
}
#mg-salary .mg-salary-table>li>ul li:nth-child(4){
    width: 20%;
}
#mg-salary .mg-salary-table>li>ul li:nth-child(5){
    width: 30%;
}
#mg-salary .mg-salary-more{
    background: #7CBF01;
    color:#ffffff;
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin:0 auto;
    font-size: 20px;
    margin-top: 75px;
}
#mg-salary .mg-salary-more>a{
    color:#ffffff;
}
#mg-salary ul{
    padding: 0;
}
#mg-salary .mg-salary-table:nth-child(1){
    margin: 0;
}
/*=========================================================
mg-salary end==============================================*/


/*=========================================================
mg-advantage start==============================================*/
#mg-advantage {
    width: 100%;
    min-width: 1000px;
    background: #202020;
    padding: 40px 0 60px;
}



.advantage-ask-intro {
    display: block;
    font-size: 0;
    font-weight: 500px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
} 

#ask-intro-1 {
    font-size: 30px;
    color:#A2A2A2;
}

#ask-intro-2 {
    font-size: 30px;
    color:#E2E2E2;
}

#ask-intro-3 {
    font-size: 30px;
    color:#FEFEFE;
}

#ask-intro-4 {
    font-size: 30px;
    color:#FEFEFE;
}

.advantage-split-long {
    width: 940px;
    height: 0px;
    box-sizing: border-box;
    border-top: 2px solid #7bbe00;
    margin: 0 auto;
}

.advantage-split-short {
    width: 100px;
    margin: 0 auto;
    box-sizing: border-box;
    border-top: 2px solid #7bbe00;
}

.advantage-html5 {
    width: 800px;
    margin: 30px auto 0;
    background: #202020;
    color: #fff;
}

.advantage-html5-top {
    height: 350px;
    display: flex;
    justify-content: space-between;
}

.html5-top-left {
    width: 398px;
    position: relative;
}

.html5-box-top {
    width: 140px;
    height: 155px;
    position: absolute;
    top: 50px;
    left: 5px;
    box-sizing: border-box;
    border: 2px solid #7bbe00;
}

.html5-box-low {
    width: 140px;
    height: 40px;
    position: absolute;
    top: 203px;
    left: 5px;
    box-sizing: border-box;
    border: 2px solid #7bbe00;
}

.html5-quotes-top {
    width:70px;
    height: 70px;
    position: absolute;
    top: -37px;
    right: -37px;
    border: 15px solid #7bbe00;
    border-radius: 50%;
}

.html5-quotes-blank {
    width:35px;
    height: 72px;
    position: absolute;
    top: -38px;
    right: -37px;
    background: #202020;
}

.html5-quotes-low {
    width:35px;
    height: 35px;
    background: #7bbe00;
    position: absolute;
    top: -2px;
    right: -2px;
}

.html5-top-left-title {
    position: absolute;
    top: 94px;
    left: 20px;
    background: #202020;
}

.html5-top-left-title h2 {
    font-size: 36px;
}

.html5-top-left-title h3 {
    font-size: 24px;
    font-weight: 500;
}

.html5-top-right {
    width: 398px;
    background: #202020;
    display:flex;
    align-items: flex-end;
}

.html5-top-right-inner{
    height: 300px;
    width: 100%;
    background: #6aa300;
}

.html5-top-right p {
    padding: 0 15px;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.html5-top-right h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: 26px 0 8px 0;
}

.advantage-html5-low {
    height: 300px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.html5-low-left {
    width: 398px;
    background: #6aa300;
}

.html5-low-left h3 {
    text-align: center;
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    font-weight: 500;
}

.html5-low-left p {
    padding: 0 30px;
    font-size: 14px;
    text-align: center;
    margin: 5px 0 0;
}

.html5-icon {
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
}

.html5-icon-w-50 {
    width: 50px;
    height: 50px;
}

#html5-icon-ios {
    background: url(../images/u25.png);
}

#html5-icon-chrome {
    background: url(../images/u27.png);
}

#html5-icon-gamepad {
    background: url(../images/u29.png);
}

#html5-icon-wechat {
    background: url(../images/u31.png);
}

#html5-icon-pc {
    background: url(../images/u33.png);
}

#html5-icon-mechine {
    background: url(../images/u35.png);
}

.html5-low-right::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 60%;
    border-radius: 50%;
    box-shadow: 0px 0px 220px 40px #fff;

}

.html5-low-right {
    width: 398px;
    background: #000;
    background-size: 400px 300px;
    position: relative;
    overflow: hidden;
}

.html5-low-right p {
    font-size: 16px;
    padding: 0 20px;
    letter-spacing: -1px;
    text-align: center;
    position: absolute;
    top: 44%;
    margin: 0;
}

.html5-sign-line {
    height: 0;
    width: 40px;
    margin: 35px auto 0;
    border-bottom: 3px solid #fff;
}

.html5-sign-plus {
    display: block;
    /*margin: 15px auto 10px;*/
    font-size: 16px;
    text-align: center;
}

.html5-view {
    display: block;
    width: 80px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

#mg-advantage .btn-wrapper2 {
    margin: 0 auto;
    background-color: #6aa300;
}

#mg-advantage .btn-wrapper2 .btnn {
    max-width: 60px;
}
/*=========================================================
mg-advantage end==============================================*/


/*=========================================================
mg-achievement start==============================================*/
#mg-achievement{
    width:100%;
    background:#0E0F0E;
    min-width: 1000px;
}

#mg-achievement  .main-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    padding-bottom: 40px;

}

#mg-achievement .line-left{
    text-align: left;
    width:90px;
    padding-top:40px;
}
#mg-achievement .line-right{
    text-align: right;
    width:90px;
    margin-top: 40px;
}
#mg-achievement .main{
    width:820px;
}
#mg-achievement .main p:nth-child(3){
    padding-top: 0;
}
#mg-achievement .main h2{
    font-size:36px;
    color: #fff;
    text-align: center;
}

#mg-achievement .circle-bg1{
    width:145px;
    height: 145px;
    margin:0 auto;
    animation: move 1.2s linear 0s infinite;
    -webkit-animation: move 1.2s linear 0s infinite;
}

#mg-achievement p{
    padding-top: 20px;
    text-align: center;
    font-size:18px;
    color:#fff;
}
#mg-achievement .achievement-list{
    height: 250px;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}
#mg-achievement .achievement-list .comman-width{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex:1;
    text-align: center;
}

@keyframes move {
    0% {
        transform: rotate(0deg); }
    25% {
        transform: rotate(90deg); }
    50% {
        transform: rotate(180deg); }
    75% {
        transform: rotate(270deg); }
    100% {
        transform: rotate(360deg); }
}
#mg-achievement .circle-salary{
    width: 100%;
    height: 30px;
    position: absolute;
    text-align: center;
    top:50%;
    margin-top:-15px;
}

#mg-achievement .achievement-list .introduce{
    position: absolute;
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    left: 20%;
    right: 20%;
}

#mg-achievement .apply-audition{
    width: 180px;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
    line-height: 1;
}
#mg-achievement .apply-audition .button {
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 20px/100% Arial, Helvetica, sans-serif;
    padding: 5px 15px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#mg-achievement .apply-audition .green {
     color: #e8f0de;
     border: solid 1px #538312;
     background: #61C128;
 }
#mg-achievement .apply-audition .green:hover {
    background: forestgreen;
}
#mg-achievement .apply-audition .green:active {
    color: #a9c08c;
    background: #7db72f
}

.apply-audition a:hover {
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    text-shadow: -1px -1px 0  greenyellow;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}
/*=========================================================
mg-achievement end==============================================*/


/*=========================================================
mg-promise start==============================================*/

/*=========================================================
mg-promise end==============================================*/


/*=========================================================
mg-special start==============================================*/
#mg-special {
    background: #252525;
}

#mg-special .special-header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #A70318;
}

#mg-special .header-content {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-bottom: 3px solid #B20A1B;
}

#mg-special .title {
    margin-top: 20px;
}

#mg-special .title h2 {
    color: #EEEEEE;
    display: inline-block;
    margin: 0 auto;
    font-size: 36px;
    margin: 10px;
    margin-left: 17px;
}

#mg-special h5 {
    margin: -5px 160px;
    color: #B8B8B8;
    font-size: 18px;
}

#mg-special .title01 {
    width: 800px;
    margin: 0 auto;
}

#mg-special .header-content {
    width: 80px;
    height: 50px;
    margin: 0 auto;
    border-bottom: 3px solid #B20A1B;
}

#mg-special .special-middle {
    width: 100%;
    height: 450px;
    margin-left: 95px;
    margin-top: 34px;
}

#mg-special .special-middle .middle {
    width: 0px;
    height: 0px;
    background: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 0px;
    box-shadow: 0 0 100px 20px #fff;
}

#mg-special .special-middle div {
    width: 197px;
    height: 200px;
    cursor: pointer;
    background: #A70318;
    margin-left: 5px;
    margin-top: 5px;
}

#mg-special .special-middle .div {
    text-align: center;
    color: #ffffff;
}

#mg-special .special-middle .di2 {
    background: #0E0E0E;
}

#mg-special .special-middle .div2 {
    background: #0E0E0E;
}

#mg-special .special-middle .dv1 {
    display: block;
    font-size: 18px;
}

#mg-special .special-middle p {
    display: block;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 35px;
}

#mg-special .special-middle .di1 {
    width: 30px;
    height: 24px;
    margin: 0 auto;
    border-bottom: 2px solid #FFFFFF;
}

#mg-special .special-bottom {
    width: 100%;
    height: 180px;
    text-align: center;
}

#mg-special .btn-wrapper2 {
    background-color: #A70318;
    margin-left: 460px;
    margin-top: -15px;
}

#mg-special .special-footer span {
    width: 150px;
    height: 200px;
    margin: 45px auto;
}

#mg-special .special-footer h3 {
    margin-left: 5px;
    color: #D0D0D0;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 4px;
}
/*=========================================================
mg-special end==============================================*/


/*=========================================================
mg-teacher start==============================================*/
#mg-teacher {
    /*background-color: #202020;*/
    color: white;
}

.w-h {
    width: 395px;
    height: 247px;
}

#mg-teacher .top-img img {
    width: 1000px;
    margin: 50px 0;
}

#mg-teacher .teacher-all {
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.teacher-1 {
    background-color: #1C5C9F;
    position: relative;
}

.teacher-1 .teacher-photo img {
    width: 100px;
    height: 130px;
}

.teacher-name h1 {
    font-size: 20px;
    margin: 10px 0;
}

.teacher-1 .teacher-photo {
    position: absolute;
    left: 20px;
    top: 80px;
}

.teacher-3 .teacher-photo {
    position: absolute;
    left: 20px;
    top: 80px;
}

.teacher-4 .teacher-photo {
    position: absolute;
    left: 20px;
    top: 80px;
}

.teacher-5 .teacher-photo {
    position: absolute;
    left: 20px;
    top: 80px;
}

.teacher-6 .teacher-photo {
    position: absolute;
    left: 20px;
    top: 80px;
}

.teacher-name {
    position: absolute;
    top: 33px;
    left: 129px;
}

.teacher-name .name-heng {
    width: 40px;
    height: 2px;
    background-color: white;
    position: absolute;
}

.teacher-name p {
    font-size: 12px;
}

.teacher-content p {
    font-size: 12px;
    position: absolute;
    top: 145px;
    left: 131px;
}

.teacher-content img {
    position: absolute;
    width: 50px;
    top: 173px;
    left: 309px;

}

.teacher-2 {
    position: relative;
}

.teacher-2 .logo img {
    width: 131px;
    position: absolute;
    left: 60px;
}

.teacher-2 h2 {
    position: absolute;
    top: 63px;
    left: 128px;
    font-size: 30px;
}

.teacher-3 {
    margin-top: 10px;
    position: relative;
}

.teacher-3 .teacher-photo img {
    width: 100px;
    height: 130px;
}

.teacher-4 {
    background-color: #1C5C9F;
    margin-top: 10px;
    position: relative;
}

.teacher-4 .teacher-photo img {
    width: 100px;
    height: 130px;
}

.teacher-5 {
    background-color: #1C5C9F;
    margin-top: 10px;
    position: relative;
}

.teacher-5 .teacher-photo img {
    width: 100px;
    height: 130px;
}

.teacher-6 {
    background-color: #1C5C9F;
    margin-top: 10px;
    position: relative;
}

.teacher-6 .teacher-photo img {
    width: 100px;
    height: 130px;
}

#mg-teacher .footer-btn {
    margin: 30px auto;
    background-color: #1C5C9F;
}

.foot-font {
    display: block;
    width: 132px;
    height: 60px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #d0d0d0;
}
/*=========================================================
mg-teacher end==============================================*/


/*=========================================================
mg-program start==============================================*/
#program {
    background: #000 url(../images/bg_image001.png) no-repeat left;
    background-size: 750px;
    height: 746px;
    padding-top:1px;
}

#program p {
    line-height: 10px;
}

.mg-feeling {
    width: 100%;
    height: 724px;
    color: #d4d4d4;
    /*background-color: #000;*/
}

.mg-feeling .content {
    width: 800px;
    height: 724px;
    margin: 0 auto;
    position: relative;
}

.mg-feeling .content-head {
    /*padding-top: 67px;*/
    text-align: center;
}

.mg-feeling h3 {
    line-height: 67px;
    font-size: 36px;
}

.mg-feeling p {
    font-size: 16px;
    line-height: 26px;
}

.mg-feeling .content-head>img {
    margin-top: 16px;
    width: 16%;
}

.mg-feeling .content-main {
    height: 300px;
    margin-top: 72px;
    margin-bottom: 60px;
    position: relative;
}

.mg-feeling .main-img {
    position: absolute;
    width: 534px;
    margin: 0 auto;
    left: 50%;
    margin-left: -267px;
}

.mg-feeling .main-img img {
    width: 100%;
}


.mg-feeling span{
    color: #92bd2d;
    margin-top: 70px;
    font-size: 58px;
    cursor: pointer;
}

.mg-feeling a {
    position: absolute;
    left: 50%;
    margin-left: -86px;
    background: #92be2d;
    border-radius: 5px;
    border-bottom: 1px solid;
    color: #fff;
    line-height: 36px;
    padding: .25em;
    width: 170px;
    text-align: center;
    transition: 0.6s ease;
}

.mg-feeling .main-explain {
    width: 700px;
    height: 200px;
    display: inline-block;
    margin: 0 auto;
    font-size: 14px;
}

.mg-feeling .explain-main p {
    font-size: 14px;
    line-height: 8px;
}

.mg-feeling .explain-main p:first-child {
    font-size: 20px;
}

.mg-feeling .explain-pic {
    display: inline-block;
    width: 170px;
    height: 180px;
    top: 25px;
    position: absolute;
    left: 70px;
}

.mg-feeling .explain-pic img {
    margin-left: 10px;
    width: 100%;
    border-radius: 50%;
}  

.mg-feeling .explain-main {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 16px
}

#feeling {
    height: 600px;
}

#feeling .content {
    height: 600px;
}

#feeling .content-main {
    margin-top: 0;
}

#feeling .btn-1 {
    background-color: #426bb8;
}




.btn {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 auto 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
}


.btn-1 {
    background: #e02c26;
    font-weight: 100;
}

.btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-1 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
}


#program .btn-1:hover,
#feeling .btn-1:hover {
    background-color: #000 !important;
    font-weight: 300;
    letter-spacing: 3px;
    border: 1px solid #fff;
}

.btn-1:hover rect {
    stroke-width: 7;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}




.content-main {
    width: 700px;
    margin: 0 auto;
}

.banner {
    width: 700px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.banner .img {
    width: 7000px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.banner .img div {
    width: 700px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}
#program .banner .img div img {
    width: 700px;
    height: 300px;
    position: absolute;
    left: -390px;
}

.banner .img li {
    float: left;
    list-style-type: none;
}

.banner .num {
    position: absolute;
    width: 700px;
    bottom: 10px;
    left: -19px;
    text-align: center;
    font-size: 0px;
}

.banner .num li {
    width: 10px;
    height: 10px;
    background-color: #888;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 3px;
    cursor: pointer;
}

.banner .num li.on {
    background-color: #f60;
}

.banner .btn {
    width: 30px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    margin-top: -25px;
    font-size: 40px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;
    font-family: "宋体";
    display: none;
}

.banner .btn_l {
    left: 0px;
}

.banner .btn_r {
    right: 0px;
}

.banner:hover .btn {
    display: block;
}

#feeling li {
    position: relative;
}

#feeling li .explain-pic {
    top: 10px;
    left: -20px;
}

#feeling li .explain-pic img {
    width: 170px;
    height: 170px;
    top: 44px;
    position: absolute;
}
#feeling li .explain-main {
    position: absolute;
    left: 176px;
    top: 58px;
}
/*=========================================================
mg-program end==============================================*/


/*=========================================================
mg-course start==============================================*/
#mg-course{
    background-color: #252525;
}
#mg-course>div{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    color: #fff;
    box-sizing: border-box;
    padding: 40px 100px;
    background-color: #252525;
}

#mg-course #time-line-forcourse{
    height: 450px;
    position: absolute;
    left: 15px;
    top: 33px;
}

#mg-course .title-main{
    color: #a70117;
}
#mg-course .title-main::before{
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #a70117;
}

#mg-course .title-desc h1{
    font-size: 36px;
    display: inline-block;
    background-image: -webkit-gradient(linear, left 0, right 0, from(rgba(160, 160, 160, 255)), to(rgba(255, 255, 255, 255)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 12px;
    margin-top: 4px;
}

#mg-course .title-desc p{
    font-size: 18px;
}
/*#mg-course .title-desc*/
#mg-course .course-list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

#mg-course .course-col{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #2f2f2f;
    margin: 0 3px;
}

#mg-course .btn-course{
    display: block;
    width: 200px;
    text-align: center;
    margin: 16px auto 0;
    background-color: #a70117;
    border: none;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    color: #fff;
}

#mg-course .course-name{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: white;
    height: 20px;
    line-height: 20px;
    background-color: red;
}

#mg-course ul {
    list-style: none;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    padding: 4px 8px;
}

#mg-course .course-col:nth-child(2n) .course-name{
    background-color: #0e0e0e;
}


#mg-course .btn-1{
    /*修改成红色*/
    background: #e02c26;
}
/*=========================================================
mg-course end==============================================*/



/*=========================================================
mg-feeling start==============================================*/

/*=========================================================
mg-feeling end==============================================*/



/*=========================================================
mg-company start==============================================*/
#mg-company {
	min-width: 1000px;
	background:#141414;
	color:#fff;
    padding-bottom: 40px;
    padding-top:30px;
}
#mg-company .w-1000{
	display: flex;
}
#mg-company .left,#mg-company .right{
	display: inline-block;
	width: 100px;
	height: 500px;
	margin-left: 8px;
	/*background: #f00;*/
}
#mg-company .content{
	display: inline-flex;
	/*width: 800px;*/
	/*height: 500px;*/
	/*background: #666;*/
	justify-content: center;
	flex-flow:column nowrap;
}
#mg-company .content::after{
	content: "";
	display: block;
	clear: both;
}
#mg-company::after{
	content:"";
	display: block;
	clear: both;
}

/*具体样式设置*/
/*标题设置*/
#mg-company .content-info{
	width: 700px;
	margin: 0 auto;
	margin-bottom: 12px;
}
#mg-company .content-info h2{
	text-align: center;
	font-size: 36px;
	background-image: -webkit-gradient(linear, left 0, right 0, from(rgba(160, 160, 160, 255)), to(rgba(255, 255, 255, 255)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    margin-bottom: 20px
}


#mg-company .content .judge{
	width: 100%;
	/*background: #f00;*/
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin:15px 0;
}
#mg-company .content .judge::after{
	content:"";
	display: block;
	clear: both;
}

#mg-company .content .judge-content{
	width: 178px;
	display: inline-flex;
	/*height: 191px;*/
	/*background: #f00;*/
	display: flex;
	flex-flow:column nowrap;
	font-size: 12px;
	align-items: center;
}
#mg-company .content .judge-content::after{
	content: "";
	display: block;
	clear: both;
}
#mg-company .content .judge-content p:nth-child(2){
	font-size: 18px;
    margin: 10px;
}
#mg-company .content .judge-content p:nth-child(3){
	font-size: 14px;
    margin: 5px auto;
}
#mg-company .content .judge-content p:nth-child(4){
	font-size: 12px;
	word-wrap:break-word;
}
#mg-company .content .judge-content img{
	width: 131px;
	height: 131px;
}

#mg-company .content .merge-company{
	display: flex;
	margin:0px auto;
	flex-flow:column nowrap;
	align-items: center;
}
#mg-company .content .merge-company h2{
	margin-bottom: 12px;
}
#mg-company .content .merge-company img{
	width: 650px;
}
#mg-company .left img{
	height: 249px;
    display: block;
    margin-top: 57px;
}

#mg-company .right img{
	height: 249px;
    display: block;
    margin-top: 57px;
}
/*=========================================================
mg-company end==============================================*/


/*=========================================================
mg-classroom start==============================================*/
.mg-classroom {
    width: 1000px;
    height: 700px;
    /*background: #202020;*/
    position: relative;
    margin: 0 auto;
}

.mg-classroom-top {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #d90116;
    padding: 30px 0;
}

.mg-red-hand {
    width: 70px;
    height: 70px;
    background: #d90116;
    margin: 0 auto;
    border-radius: 50%;
    /*position: relative;*/
    /*top: 30px;*/
}

.mg-red-hand img {
    width: 60px;
    height: 60px;
    position: relative;
    left: 4px;
    top: 3px;
}

.mg-classroom-text {
    margin: 0 auto;
    color: #a0a0a0;
    text-align: center;
    margin-top: 10px;
}

.mg-classroom-text-first {
    font-size: 20px;
}

.mg-classroom-text-second {
    font-size: 14px;
    border-bottom: 5px solid #d90116;
    padding-bottom: 28px;
    padding-left: 10px;
    padding-right: 10px;
}

.mg-classroom-pic-wrapper {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.mg-classroom-pic {
    width: 330px;
    height: 190px;
    margin: 4px;
    position: relative;
    /*box-sizing: border-box;*/
}

.mg-classroom-red-quote {
    width: 130px;
    height: 170px;
    position: relative;
    top: -50px;
}

.mg-classroom-quote-text {
    position: relative;
    top: -162px;
    left: 15px;
}


.font-24-bold-white {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}



.mg-classroom-pic-first {
    position: absolute;
    top: 0;
    left: 0;
}

.mg-classroom-pic-second {
    position: absolute;
    top: 0;
    right: 0;
}

.mg-classroom-pic-third {
    position: absolute;
    bottom: 0;
    right: 0;
}

.mg-classroom-pic-top-right-first {
    width: 220px;
    height: 190px;
}



.mg-classroom-pic-top-right-second  {
    width: 104px;
    height: 94px;
}

 .mg-classroom-pic-top-right-third {
     width: 104px;
     height: 90px;
}

 .mg-classroom-pic-bottom-left-first {
     width: 137px;
     height: 190px;
 }

.mg-classroom-pic-bottom-left-second {
    width: 187px;
    height: 92px;
}

.mg-classroom-pic-bottom-left-third {
    width: 187px;
    height: 92px;
}

.mg-classroom-pic-top-right img,.mg-classroom-pic-bottom-left img,.mg-classroom-pic-bottom-right img {
    width: 100%;
    height: 100%;
}

.mg-classroom .btn-wrapper2{
	/*默认背景颜色为绿色，修改成红色*/
	background-color: red;
	/*默认宽高80px,修改成60px*/
	width: 60px;
	height: 60px;
}
/*=========================================================
mg-classroom end==============================================*/



/*=========================================================
mg-footer start==============================================*/
	#mg-footer{
    background: #000;
    padding: 35px 0;

} 

#mg-footer .footer-container{
    display: flex;
    height: 250px;
    width: 800px;
    margin: 0 auto;
}

#mg-footer .map{
    flex: 1 0 50%;
    background: #fff;

}

#mg-footer .map-baidu{
    width:400px;
    height:250px;
    border:#ccc solid 1px;
}


#mg-footer .baoming{
    flex: 1 0 50%;
    
    padding-left: 60px;
    
}

#mg-footer .baoming p{
    font-size: 28px;
    color: #fff;
    font-weight: bold;

}


#mg-footer .bmitems span{
    font-size: 16px;
    color: #fbfbfb;

    background-image: -webkit-gradient(linear, left 0, right 0, from(rgba(160, 160, 160, 255)), to(rgba(255, 255, 255, 255)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 12px;
    margin-top: 4px;
}

#mg-footer .bmitems{
    margin-top: 10px;

}

#mg-footer .bmitems input{
    height: 25px;
    background: #7cc405;
    padding-left: 5px;
}


#mg-footer .bmitems [type="submit"]{
    width: 160px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}
/*=========================================================
mg-footer end==============================================*/
