<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章添加页面</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/common.css">
    <link rel="stylesheet" href="../stylesheets/admin.css">
</head>
<body>
<header>
    <div class="logo">庶几 Admin</div>
    <div class="info">
        <img src="../images/head.jpg" alt="">
        <span>庶几 <i></i></span>
        <div class="login"><a href="./admin/login">登录</a></div>
    </div>
    <div class="read-home"><a href="">浏览网站</a></div>

</header>
<div class="wrapper">
    <div class="left">
        <ul>
            <li class="active"><a href="./index">文章列表</a></li>
            <li><a href="./cateindex">分类列表</a></li>
        </ul>
    </div>
    <div class="right">
        <div class="admin-container">
            <h2>文章添加页面</h2>
            <form class="form-horizontal" role="form" action="./ajaxadd" method="post" enctype="multipart/form-data">
                <div class="form-group" style="width: 300px">
                    <label for="type">选择分类</label>
                    <select class="form-control" id="type" name="type">
                        <% for (var i=0;i<result.length;i++) {%>
                        <option><%=result[i].name%></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group" style="width: 300px">
                    <label for="title">
                        文章标题
                    </label>
                    <input type="text" name="title" id="title">
                </div>
                <div class="form-group" style="width: 300px">
                    <label for="content">
                        文章内容
                    </label>
                    <textarea name="content" id="content" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-default">确定</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.js"></script>
<script>
    $('form').on('submit', function() {
        var url = './ajaxadd';
        var data = {
            'type':$('#type').val(),
            'title':$('#title').val(),
            'content':$('#content').val()
        };
        $.post(url, data, function(q) {
            alert(q.message);
        });
        return false;
    });
</script>
</body>
</html>